# diplomacy_research
bs4==0.0.2
diplomacy @ git+https://git@github.com/ALLAN-DIP/diplomacy.git@5733af848f3e5b35cd9ff8a1eba77bb40e09c946
chiron_utils @ git+https://github.com/ALLAN-DIP/chiron-utils.git@58d5cb72f1ee5df852ae05f0920dd0a9de48405c
grpcio==1.15.0
grpcio-tools==1.15.0
gym==0.9.6
h5py==2.9.0
html5lib==1.1
hiredis==1.1.0
numpy==1.15.4
protobuf==3.6.1
pymysql==1.1.1
python-hostlist==2.2.1
pytz==2025.1
pyyaml==6.0.1
redis==5.0.8
regex==2024.4.16
requests==2.22.0
tabulate==0.9.0
tensorflow==1.13.1
tensorflow-probability==0.6.0-rc1
toposort==1.10
tornado==6.2
tqdm==4.32.1
ujson==3.2.0
